body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('Midia_Marcenaria/imagem/blackwhite.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    height: 100vh; /* O header ocupará 100% da altura visível da tela */
    width: 100vw; /* O header ocupará 100% da largura visível da tela */
    display: flex; /* Ativando o flexbox para alinhamento */
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita que partes extras sejam exibidas */
    position: relative; /* Garante o controle de posicionamento */
}

header .logo {
    position: absolute; /* Faz a imagem preencher o espaço do header */
    top: 0;
    left: 0;
    width: 100%; /* Faz a imagem ocupar 100% da largura */
    height: 100%; /* Faz a imagem ocupar 100% da altura */
    object-fit: cover; /* Garante que a imagem preencha o container proporcionalmente */
    margin: 0;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    transition: color 0.3s ease;
}

header a:hover {
    color: #77be32;
}

header a:focus {
    outline: 2px dashed #77be32;
}

header ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    z-index: 10; /* Garante que o menu esteja acima da imagem */
}

header li {
    padding: 0 10px;
}

.main-content {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.image-panel, .video-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.panel-image, .panel-video {
    max-width: 100%;
    height: auto;
    border: 2px solid #77c22b;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

.contact {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    header {
        height: 100vh; /* O header continuará ocupando 100% da altura da tela */
    }
    header .logo {
        width: 100%; /* Mantém a imagem com 100% da largura */
        height: 100%; /* Faz a imagem cobrir toda a altura proporcionalmente */
        object-fit: cover; /* Garante que a imagem preencha todo o espaço */
    }
    header ul {
        flex-direction: column; /* Alinha o menu em coluna para telas menores */
        gap: 10px;
    }
    .panel-image, .panel-video {
        max-width: 90%;
        margin-bottom: 15px;
    }
}
